<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>


<body>
    <!-- Header -->
    <%- include('./partials/headerLogueado') %>
    <!-- Header -->


    <!-- Novedades -->
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Agregar productos</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <form action="/" method="get">
                <input type="file" name="" id="">
                <input type="text" name="nombre" id="" placeholder="nombre">
                <input type="text" name="descripcion" id="" placeholder="descripcion">


                <button type="submit">Enviar</button>
            </form>


    <!-- Include Footer -->
    <%- include('./partials/footer') %>
    <!-- Include Footer -->
</body>


</html>
